<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="https://www.w3schools.com/howto/img_avatar2.png" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{ current_user.username }}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<!-- <form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form> -->
		<ul class="nav menu">
			<li class="nav-item"><a href=" {{ url_for('index') }} " class="nav-link {% if index %} active {% endif %}"><em class="fa fa-dashboard">&nbsp;</em>Dashboard</a></li>
			<li class="nav-item"><a href=" {{ url_for('masuk') }} " class="nav-link {% if masuk %} active {% endif %}"><em class="fa fa-car">&nbsp;</em>Riwayat Masuk</a></li>
			<li class="nav-item"><a href=" {{ url_for('keluar') }} " class="nav-link {% if keluar %} active {% endif %}"><em class="fa fa-motorcycle">&nbsp;</em>Riwayat Keluar</a></li>
			<li class="nav-item"><a href=" {{ url_for('profile') }} " class="nav-link {% if profile %} active {% endif %}"><em class="fa fa-user">&nbsp;</em>Profil</a></li>
			<li class="nav-item"><a href=" {{ url_for('admin') }} " class="nav-link {% if admin %} active {% endif %}"><em class="fa fa-lock">&nbsp;</em>Admin</a></li>
			<li class="nav-item"><a href=" {{ url_for('pengguna') }} " class="nav-link {% if pengguna %} active {% endif %}"><em class="fa fa-users">&nbsp;</em>Pengguna</a></li>
			<li class="nav-item"><a href=" {{ url_for('logout') }} " class="nav-link {% if logout %} active {% endif %}"><em class="fa fa-power-off">&nbsp;</em>Logout</a></li>
			
			<!-- <li class="active"><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
			<li><a href="masuk.html"><em class="fa fa-calendar">&nbsp;</em> Riwayat Masuk</a></li>
			<li><a href="keluar.html"><em class="fa fa-bar-chart">&nbsp;</em> Riwayat Keluar</a></li>
			<li><a href="admin.html"><em class="fa fa-toggle-off">&nbsp;</em> Admin</a></li>
			<li><a href="pengguna.html"><em class="fa fa-clone">&nbsp;</em> Pengguna</a></li> -->
			<!-- <li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Multilevel <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 1
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 2
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
					</a></li>
				</ul>
			</li> -->
			<!-- <li><a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li> -->
		</ul>
	</div><!--/.sidebar-->